
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px - 60px); /* 100vh - header height - footer height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/oberry_ame_zion_church.jpg');
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.subtitle {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.taglineBar {
  background-color: rgba(0, 0, 0, 0.35);
  padding: var(--spacing-small) var(--spacing-large);
  border-radius: 4px;
  margin-top: var(--spacing-large);
  display: inline-block;
}

.tagline {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 4.5rem;
    line-height: 1;
  }
  .tagline {
    font-size: 1.1rem;
  }
}
