
.footer {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: var(--spacing-medium);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer p {
  margin: 0.25rem 0;
}
