/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

section#home {
  background-image: linear-gradient(
      rgba(0, 15, 200, 0.45),
      rgba(0, 15, 200, 0.45)
    ),
    url("../images/oberry_ame_zion_church.jpg");
  margin: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  border-radius: 4px;
}
